<div class="box">
  <h4>Target: </h4><%= antibody.target %>
   <p class="details">
  <h4>Vendor: </h4><%= antibody.vendor %>
    <br />
  <h4>Product: </h4><%= antibody.product %>
    <br />
  <h4>Description: </h4><%= antibody.description %>
    </p>
    <%= link_to 'Show', antibody %>
</div>