<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <b>Target:</b>
			  <%= @antibody.target %>
			</p>
			<p>
			  <b>Vendor:</b>
			  <%= @antibody.vendor %>
			</p>
			<p>
			  <b>Product:</b>
			  <%= @antibody.product %>
			</p>
			<p>
			  <b>Isotype:</b>
			  <%= @antibody.isotype %>
			</p>
			<p>
				<%= link_to "Add Protocol",  new_antibody_protocol_path(@antibody), class: "btn btn-success" %>
				<%= link_to 'Edit Antibody', edit_antibody_path(@antibody), class: "btn btn-primary" %>
			</p>
			<br />	
			<p>
				<%= pluralize @antibody.reputation_for(:votes).to_i, "rating" %> |
				<%= link_to "Approve", vote_antibody_path(@antibody, type: "up"), method: "post" %> | 
				<%= link_to "Disapprove", vote_antibody_path(@antibody, type: "down"), method: "post" %>
			</p>
		</div>
		<% if @antibody.protocols.any? %>
			<%= render :partial => 'protocols/protocol' %>
			<%= will_paginate @protocols %>
		<% else %>
			<div class="container-fluid">
					<div class="text-center">
						<div class="alert alert-info">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>No protocols associated with this antibody yet.</strong><br />
						</div>
					</div>
			</div>
		<% end %>
 
		<%= link_to 'Back', antibodies_path %>

	</div>
</div>