<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    	<div class="well">
      	<p class="welcome">
      		Welcome, <%= current_user.name %>!
      		<br />
      		<br />
      		<i class="icon-user"></i>
      		<br />
          <br />
      	</p>
    	</div>
      <div class="nav">
        <%= link_to "Add Antibody", new_antibody_path, class: "btn btn-success" %>
        <%= link_to "Search Antibodies", antibodies_path, class: "btn btn-info" %>
      </div>
    </div>
    <!-- if user is signed in && no protocols are present, render alert for no protocols -->
		<% if @user.protocols.empty? %>
			<div class="span8">
				<div class="row">
					<div class="span6 offset3">
						<div class="text-center">
							<div class="alert alert-info">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>WHOA!</strong> You have no protocols!<br />
								To create a protocol, you may create an antibody from your profile page,
								or search for an antibody.
							</div>
						</div>
					</div>
				</div>
			</div>
		<% else %>
		<!-- otherwise render list of user's protocols -->
	    <div class="span9">
	    	<div class="well">
	        <div class="accordion" id="accordion2">
	          <div class="accordion-group">
	            <div class="accordion-heading">
	              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	               <li class="dropdown">
	               <p class="my_protocols">My Protocols (<%= current_user.protocols.count %>)<b class="caret"></b></p></li>
	              </a>
	            </div>
	            <div id="collapseOne" class="accordion-body collapse">
	              <div class="accordion-inner">
	                <p>
	                	<%= render :partial => 'protocols/protocol' %>
	                </p>
	              </div>
	            </div>
	          </div>
	        </div>
	    	</div>
	  	</div>
  	<% end %>
  </div>
</div>
