<h1>Listing Protocols</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User Application Statement</th>
      <th>Research Application</th>
      <th>Cell or Tissue Model</th>
      <th>Description</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
   <% @protocols.each do |protocol| %>
    <tr>
      <td><%= protocol.statement %></td>
      <td><%= protocol.research_application %></td>
      <td><%= protocol.cell %></td>
      <td><%= protocol.description %></td>
      <td><em><%= protocol.user.name %></em></td>
      <td><%= link_to 'Info', protocol, class: "btn btn-info" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Protocol', new_protocol_path %>