<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- Allows for collapsible menus on mobile devices -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Sciero", root_path, class: "brand" %>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "About", about_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Products", products_path %></li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="navbar-search pull-right">
              <%= search_form_for @search do |f| %>
                <%= f.text_field :target_or_antibody_or_vendor_or_isotype_cont, class: "input-medium search-query", placeholder: "Search for antibodies..." %>
              <% end %>
            </li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>