<!DOCTYPE html>
<html>
	<head>
	  <title>Sciero</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
		<script src="assets/javascripts/jquery.min.js"></script>
		<script src="assets/javascripts/config.js"></script>
		<script src="assets/javascripts/skel.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="../stylesheets/skel-noscript.css" />
			<link rel="stylesheet" href="../stylesheets/style.css" />
			<link rel="stylesheet" href="../stylesheets/style-desktop.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="javascripts/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="stylesheets/ie7.css" /><![endif]-->
	</head>
	<body>
		<%= render 'layouts/header' %>	
			<div class="row-fluid">
  			<div class="span12">
					<div class="container">
						<% flash.each do |name, msg| %>
							<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
						<% end %>
						<%= yield %>
					</div>
				</div>
			</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
